@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  background: url('./Fundo-Star-Wars-Planet.jpg');
  color: #f6f002;
  font-family: Kdam Thmor Pro , sans-serif;
}

button {
  background-color: #1f2327;
  border: solid rgb(255, 193, 7) 1px;
  border-radius: 5px;
  color: rgb(255, 193, 7);
  font-family: Kdam Thmor Pro , sans-serif;
  font-weight: 700;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
}

input {
  background: #1f2327;
  color: white;
  font-family: Kdam Thmor Pro , sans-serif;
  font-weight: 700;
  padding: 8px;
}

select {
  background: #1f2327;
  color: white;
  font-family: Kdam Thmor Pro , sans-serif;
  font-weight: 700;
  margin: 15px;
  padding: 11px;
}

.Initialimage {
  display: flex;
  place-content: center;
}

img {
  width: 700px;
}

.tabela {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.inputs {
  display: flex;
  place-content: center;
}

.forms {
  margin-bottom: 10px;
  margin-right: 10px;
}

h3 {
  color: white;
  padding-right: 10px;
}

.filter {
  color: white;
  display: flex;
  margin-top: 20px;
  padding-left: 20%;
  padding-right: 40%;
}

/* stylelint-disable-next-line rule */
